select * from sga_alumnos a, sga_personas b 
where a.nro_inscripcion = b.nro_inscripcion
and b.nro_documento = '25810724' ;


select * from vw_hist_academica where legajo = 'PC00064'
and resultado = 'A'

25560026 PC00001
31514680 (PC00067) 44% x equiv      15 mat
25719885 (PC00050) 44% x equiv      15 mat
34392334 (PC00059) 20% x equiv      7 mat
25810724 (PC00064) 53% x equiv      18 mat